
.flex {
  display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.light {opacity: 0.60}

.bold {font-weight: 600;}

.pre {white-space: pre;}

.y-a {align-items: center;}

.x-a {justify-content: center;}

.fixed {position: fixed; top: 0;}

.absolute {position: absolute;}

.border-box {box-sizing: border-box;}


.white {background-color: white;}

.borders {border: 1px solid var(--border--color);}

